
.cards{
    padding: 20px 6%;
}
.card-item{
    max-width: 300px;
    border: 1px solid rgb(236 236 236);;
}
.card-img{
    border-bottom: 1px solid rgb(236 236 236);;
    text-align: center;
    overflow: hidden;
    img{
        max-width: 250px;
        transition: all .4s;
    }
    img:hover{
        transform: scale(1.05);
        transition: all .4s;
    }
}
.margin-o{
    margin: 2px;
}
.bold-text{
    font-weight: bold;
}
.card-bottom{
    text-transform: capitalize;
    padding: 6%;
    p{
        color: rgba(0, 0, 0, 0.707);
    }
    h6{
        font-weight: bold;
    }
}
    .card-btn{
        padding: 5px;
        outline: none;
        border: 0   ;
        background-color: rgb(129, 255, 113);
        border-radius: 8px;
        span{
            padding-right: 7px;
        }
    }
.price-section{
    display: flex;
    gap: 25px;
}
.currentPrice{
    color: rgb(0, 137, 235);
}
.mrp span{
    text-decoration-line: line-through;
    color: rgb(53, 53, 53);
}
.card-text{
    padding: 0;
}
.card-content{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}